body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
nav
{
    background-color: #116530;
}
nav img
{
    height: 15vh;
    width: 65px;
    border-radius: 50%;
}
nav ul li a:hover
{
    border: 1px dashed white;
}
footer
{
    background-color: #116530;
    padding-top: 3%;
}
footer h3
{
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}
footer ul li 
{
    margin-bottom: 5%;
}
footer ul li a 
{
     text-decoration: none;
}
footer ul li a:hover
{
    border: 2px dashed white;
}
footer img{
    height: 20vh;
    border-radius:50% ;
}
.ftr3 ul li
{
   margin-bottom: 15%;
}

video{
    opacity: 0.60;
    width:100vw;
    height:100vh;
}
.vid h1  
{
    font-size:xx-large;
    font-weight:bolder;
    position:absolute ; 
    bottom: 30% ;
    left:35%  ;
    border:1px solid white;
    padding:10px;
}
.spots
{
    height:350px;
}
.spots img{
    height: 350px;
}
.slct
{
    border: 1px dashed white;
}